h1,
p,
ul.links>li {
    text-align: center;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three equal columns */
    gap: 20px;
    /* Adjust spacing between items */
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

img.square {
    max-width: 50%;
}
img.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
 
}

.header {
    display: flex;

}